<ion-view view-title="דף נכס " name="login-view" >

  <ion-content style="top: 1%;">

    <div class="asset_details" class="row">

    </div>
    <div class="contacts_apt" class="row">
      <p style="margin-top: 15px; margin-bottom: -15px; text-align: right; margin-right: 5%;">לקוחות המעוניינים בנכס</p>
      <button class="contacts_apt_add button button-clear " ng-click="openUpload()"><i class="ion-plus-round"></i></button>

    </div>

    <div class="asset_img" class="row padding padding-top">
      <p style="margin-bottom: -15px; text-align: right; margin-right: 5%; display: block;">תמונות הנכס</p>
      <div class="img_spec col-33">img here</div>
      <div class="img_spec col-33">img here</div>

      <div class="img_spec col-33">img here</div>





    </div>


  </ion-content>



</ion-view>

