<ion-view view-title="דף נכס " name="login-view" >

  <ion-content style="top: 1%;">

    <div class="asset_details" class="row" style="padding: 5%;">


      <h4 style=" font-size:1.1em; text-align: right">שם הסוכן: משה אטס</h4>
      <p>סוג הכנס: פנטהאוז</p>
      <p>סכתובת: אליעזר בן יהודה 19, באר שבע</p>
      <p>מחיר: 980,000 ש”ח</p>
      <p>מספר חדרים: 5</p>
      <p>מ”ר: 150</p>
      <p>קומה:4</p>
      <p>בנוסף: מרפסת, מעלית, מיזוג, ממ”ד</p>

      <h4 style=" font-size:1.1em; text-align: right">תיאור קצר:</h4>
      <p>דירת פנהואז חדשה מרוהטת לחלוטין, שני רחובות מהתחנה המרכזית.</p>




    </div>
    <div class="contacts_apt" class="row">
      <p style="margin-top: 15px; margin-bottom: -15px; text-align: right; margin-right: 5%;">לקוחות המעוניינים בנכס:</p>
      <button class="contacts_apt_add button button-clear " ng-click="openModal()"><i class="ion-plus-round"></i></button>

    </div>

    <div class="asset_img" class="row padding padding-top">
      <p style="margin-bottom: -15px; text-align: right; margin-right: 5%; display: block;"> תמונות:</p>
      <div class="img_spec col-33">img here</div>
      <div class="img_spec col-33">img here</div>

      <div class="img_spec col-33">img here</div>





    </div>


  </ion-content>



</ion-view>

