<ion-view name="login-view" title="התחבר כסוכן" style="bottom:0%; text-align: center;" >
  <ion-content id="login_bg"   style="top: 1%; padding-top: 35%" >

    <div class="list list-inset" >

      <label class=" col item item-input input-login">
        <input type="text" placeholder="שם משתמש" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="סיסמא" ng-model="data.password">
      </label>
    </div>
    <div class="col">
    <button class="button button-block button-positive" ng-click="login()" style="background-color: #11c1f3;">התחבר</button>
    </div>
  </ion-content>
</ion-view>
