<ion-modal-view >
  <ion-header-bar class="bar-light" id="modal_bg">
    <h1 class="title">משימה חדשה</h1>
    <button class="button button-icon" ng-click="closeTaskModal()">
      <i class="icon ion-android-close"></i>
    </button>
  </ion-header-bar>
  <ion-content style="overflow: hidden;">
    <form ng-submit="createTask()">
      <div class="list list-inset">

        <label class="col item item-input" style="height: 200px;">

          <textarea ng-model="task.content" rows="5" placeholder="כתוב משימה חדשה" style="box-shadow: none; " autofocus ></textarea>

        </label>
        <button type="submit" class="  button button-block button-calm" >צור משימה</button>

        <!-- <ul class="list">
           <li class="item item-toggle">
             Completed?
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="task.completed">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
           </li>
         </ul>-->
      </div>

    </form>
  </ion-content>
</ion-modal-view>
