<ion-view view-title=" חיפוש מתקדם" name="login-view" id="filter_bg">
  <ion-content style="top: 1%;">
    <form role="form" id="form">


    <label class="row" style="margin-top: 14%;">

      <input = name="Agent" type="text" placeholder="שם הסוכן"  class="col" class="input_set">
    </label>

    <label class="row" style="margin-bottom: 10%">
      <select name="Neighborhood" class="col">
        <option>בחר שכונה</option>
        <option>שכונה א'</option>
        <option>שכונה ב'</option>
        <option>שכונה ג'</option>
        <option>שכונה ד'</option>
        <option>שכונה ה'</option>
        <option>שכונה ו' הישנה</option>
        <option>שכונה ו' החדשה</option>
        <option>שכונה ט'</option>
        <option>שכונה י"א</option>
        <option>וילות מצדה</option>
        <option>נאות לון</option>
        <option>נווה זאב</option>
        <option>נווה נוי</option>
        <option>נחל עשן</option>
        <option>העיר העתיקה</option>
        <option>עמק שרה</option>
        <option>קרית יהודית</option>
        <option>רמב"ם</option>
        <option>רמות</option>
        <option >שיכון דרום</option>
        <option>עומר</option>
        <option>להבים</option>
        <option>משמר הנגב</option>
        <option>פלח 5</option>
        <option>פלח 6</option>
        <option>פלח 7</option>
      </select>

    </label>

  <div class="row" style="margin-bottom: 5%">
    <label class="col-50" >
      <div >
        <select  name="Type" >
          <option>סוג נכס</option>
          <option >בית פרטי</option>
          <option>בית קרקע</option>
          <option>דו משפחתי</option>
          <option>דופלקס</option>
          <option>דופלקס גג</option>
          <option>דופלקס פנטהאוס</option>
          <option >דירה</option>
          <option>דירה מחולקת</option>
          <option>דירת גן</option>
          <option>דירת קרקע</option>
          <option>וילה</option>
          <option>חנות</option>
          <option>מבנה</option>
          <option>מבנה תעשיה</option>
          <option>מגרש</option>
          <option>מיני פנטהאוס</option>
          <option >פנטהאוס</option>
          <option>מסחרי</option>
          <option>משק</option>
          <option>קוטג'</option>
          <option>שטח</option>
        </select>
      </div>
      </label>
<!--TODO change name-->
    <label class="col-50" >
      <div >
        <select name="Status" >
          <option>בחר סטטוס</option>
          <option>פעיל</option>
          <option >נמכר</option>
          <option>הסתיימה בלעדיות</option>
          <option >ירד ממכירה</option>
        </select>
      </div>
    </label>

  </div>


  <div  class="row" style="margin-bottom: 8%;">
    <label class="col-33">

        <input name="FromPrice" type="text" placeholder="ממחיר"  class="input_set">
      </label>

    <label class="col-33">

        <input name="ToPrice" type="text" placeholder="עד מחיר "  class="input_set">
      </label>

    <label class="col-33">

        <input name="Square" type="text" placeholder="מ'ר"  class="input_set">

    </label>
  </div>


    <label class="row" style="margin-bottom: 3%;">
      <div class="col-50">
        <input name="FromFloor" type="text" placeholder="מקומה"  class="input_set">
      </div>
      <div class="col-50">
<!--TODO name="ToFloor" -->
        <input type="text" name="ToFloor" placeholder=" עד קומה"  class="input_set">
      </div>
    </label>


    <label class="row" style="margin-bottom: 6%;">
      <div class="col-50">
      <input name="Rooms" type="text" placeholder=" מס' חדרים"  class="input_set">
      </div>
    </label>

      <div  class="row">
        <label>
          <p>מעלית</p>
          <div class="col-33">
            <ion-checkbox class="checkbox-dark" ng-model="isChecked.vlue1" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
        <label>
          <p>מיזוג</p>
          <div class="col-33">
            <ion-checkbox class="checkbox-dark" ng-model="isCheckedvalue2" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
        <label>
          <p>ממ"ד</p>
          <div class="col-33">
            <ion-checkbox class="checkbox-dark" ng-model="isChecked.value3" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
      </div>


    </form>



  </ion-content>

  <button full class="button button-calm button-search " ng-click="submitSearch()">חפש</button>


</ion-view>
