

<ion-view view-title="הפרופיל שלי">
  <ion-content  class="padding" >

  <!--profile-->

<div class="row" id="ar_profile" >
   <article class="col col-100" >
   <p>סוכן:משה אטס</p>
   <p>סוג הנכס: פנטהוז</p>
   <p>כתובת: אליעזר בן יהודה 19, באר שבע</p>
   <p>מספר חדרים: 5</p>
   <p>מחיר: 980,000 ש”ח</p>
   <p>קומה:12</p>


   </article>

 </div>


 <div class="row" id="ar_profile" >
   <article class="col col-100" >
   <p>סוכן:משה אטס</p>
   <p>סוג הנכס: פנטהוז</p>
   <p>כתובת: אליעזר בן יהודה 19, באר שבע</p>
   <p>מספר חדרים: 5</p>
   <p>מחיר: 980,000 ש”ח</p>
   <p>קומה:12</p>


   </article>

 </div>

  <div class="row" id="ar_profile" >
   <article class="col col-100" >
   <p>סוכן:משה אטס</p>
   <p>סוג הנכס: פנטהוז</p>
   <p>כתובת: אליעזר בן יהודה 19, באר שבע</p>
   <p>מספר חדרים: 5</p>
   <p>מחיר: 980,000 ש”ח</p>
   <p>קומה:12</p>


   </article>

 </div>
   <div class="row" id="ar_profile" >
   <article class="col col-100" >
   <p>סוכן:משה אטס</p>
   <p>סוג הנכס: פנטהוז</p>
   <p>כתובת: אליעזר בן יהודה 19, באר שבע</p>
   <p>מספר חדרים: 5</p>
   <p>מחיר: 980,000 ש”ח</p>
   <p>קומה:12</p>


   </article>

 </div>

  </ion-content class="padding">

      <button class="button button-calm "><i class="ion-plus-round"></i></button>

</ion-view>





