<ion-view view-title=  "העלה נכס" name="login-view" id="filter_bg">
  <ion-content  style="top: 1%; overflow: hidden;">
    <form role="form" id="upform">


      <div class="row" style="margin-top: 8%;">
        <label  class="col-50" >

          <input class="input_set" type="text" name="Customer_Name" placeholder="בעל הנכס"  class="input_set">

        </label>

        <label class="col-50">
          <input  class="input_set"  type="text" name="Customer_Tel" placeholder="מס' בעל הנכס   "  class="input_set">


        </label>

      </div>

   <div class="row" style="margin-top: 8%;">
      <label  class="col-50">

        <input class="input_set" type="text" name="Street" placeholder="רחוב"  class="input_set">

</label>

<label class="col-50">
        <!--<input  class="input_set"  type="text" name="Neighborhood" placeholder="שכונה "  class="input_set">-->
<select name="Neighborhood">
  <option>בחר שכונה</option>
  <option>שכונה א'</option>
  <option>שכונה ב'</option>
  <option>שכונה ג'</option>
  <option>שכונה ד'</option>
  <option>שכונה ה'</option>
  <option>שכונה ו' הישנה</option>
  <option>שכונה ו' החדשה</option>
  <option>שכונה ט'</option>
  <option>שכונה י"א</option>
  <option>וילות מצדה</option>
  <option>נאות לון</option>
  <option>נווה זאב</option>
  <option>נווה נוי</option>
  <option>נחל עשן</option>
  <option>העיר העתיקה</option>
  <option>עמק שרה</option>
  <option>קרית יהודית</option>
  <option>רמב"ם</option>
  <option>רמות</option>
  <option >שיכון דרום</option>
  <option>עומר</option>
  <option>להבים</option>
  <option>משמר הנגב</option>
  <option>פלח 5</option>
  <option>פלח 6</option>
  <option>פלח 7</option>
</select>

      </label>

   </div>


      <div class="row">
      <label style="margin-bottom: 6%;" class="col-50" >

          <select  name="Type" >

            <option>סוג נכס</option>
            <option >בית פרטי</option>
            <option>בית קרקע</option>
            <option>דו משפחתי</option>
            <option>דופלקס</option>
            <option>דופלקס גג</option>
            <option>דופלקס פנטהאוס</option>
            <option >דירה</option>
            <option>דירה מחולקת</option>
            <option>דירת גן</option>
            <option>דירת קרקע</option>
            <option>וילה</option>
            <option>חנות</option>
            <option>מבנה</option>
            <option>מבנה תעשיה</option>
            <option>מגרש</option>
            <option>מיני פנטהאוס</option>
            <option >פנטהאוס</option>
            <option>מסחרי</option>
            <option>משק</option>
            <option>קוטג'</option>
            <option>שטח</option>
          </select>

        </label>
       <label class="col-50" >
        <div >
          <select name="Status">
            <option>בחר סטטוס</option>
            <option>פעיל</option>
            <option >נמכר</option>
            <option>הסתיימה בלעדיות</option>
            <option >ירד ממכירה</option>

          </select>
        </div>
      </label>
        </div>

      <div class="row"  style="margin-bottom: 25px;">
      <label class="col-30">

          <input name="Rooms" type="text" placeholder="מס' חדרים "  class="input_set">

        </label>

        <label class="col-30">


          <input type="text" name="Num_Address" placeholder="מס' בית" class="input_set">
        </label>


        <label class="col-30">
          <input name="Floor"  type="text" placeholder="קומה"  class="input_set">
        </label>

      </label>
        </div>

     <div class="row"  style="margin-top: 8%; margin-bottom: 5%;">
      <label class="col-30">

        <input class="input_set" type="text" name="Price" placeholder="מחיר" class="input_set">

</label>

<label class="col-30">
        <input  class="input_set" name="Square"  type="text" placeholder=" מ'ר"  class="input_set">



      </label>

       <label class="col-30">
         <input  class="input_set" name="Square"  type="text" placeholder="מס' קומות"  class="input_set">



       </label>
     </div>




      <div  class="row">
        <label>
          <p>מעלית</p>
          <div class="col-33">
            <ion-checkbox name="Elevator" class="checkbox-dark" ng-model="isChecked.vlue1" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
        <label>
          <p>מיזוג</p>
          <div class="col-33">
            <ion-checkbox name="AirCon" class="checkbox-dark" ng-model="checkbox.aircon" ng-true-value="true"  ng-false-value="false" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
        <label>
          <p>ממ"ד</p>
          <div class="col-33">
            <ion-checkbox name="Mamad" class="checkbox-dark" ng-model="isChecked.value3" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
      </div>





      <label class="row" >
        <textarea  type="text" name="Details" placeholder="כתוב תיאור קצר " class="col" class="input_set"></textarea>


      </label>

      <!--<button class="btns takePic  button button-calm" ><i class="ion-ios-camera" ></i></button>-->



    </form>



  </ion-content>

  <button full class="button button-calm button-search " ng-click="uploadAsset()">העלה</button>


</ion-view>
