<ion-view view-title=  "העלה נכס" name="login-view" id="filter_bg">
  <ion-content  style="top: 1%; overflow: hidden;">
    <form role="form" id="upform">


      <div class="row" style="margin-top: 8%;">
        <label  class="col-50" >

          <input class="input_set" type="text" name="Address" placeholder="בעל הנכס"  class="input_set">

        </label>

        <label class="col-50">
          <input  class="input_set"  type="text" name="Neighborhood" placeholder="מס' בעל הנכס   "  class="input_set">


        </label>

      </div>

   <div class="row" style="margin-top: 8%;">
      <label  class="col-50">

        <input class="input_set" type="text" name="Address" placeholder="רחוב"  class="input_set">

</label>

<label class="col-50">
        <input  class="input_set"  type="text" name="Neighborhood" placeholder="שכונה "  class="input_set">


      </label>

   </div>


      <div class="row">
      <label style="margin-bottom: 6%;" class="col-50" >

          <select  name="Type" >

            <option >בית פרטי</option>
            <option >דירה</option>
            <option >פנטהאוז</option>
          </select>

        </label>
       <label class="col-50" >
        <div >
          <select >
            <option >נמכר</option>
            <option >בשיווק</option>
            <option >מושכר</option>

          </select>
        </div>
      </label>
        </div>

      <div class="row"  style="margin-bottom: 25px;">
      <label class="col-30">

          <input name="Rooms" type="text" placeholder="מס' חדרים "  class="input_set">

        </label>

        <label class="col-30">


          <input type="text" placeholder="מס' בית" class="input_set">
        </label>


        <label class="col-30">
          <input name="Floor"  type="text" placeholder="קומה"  class="input_set">
        </label>

      </label>
        </div>

     <div class="row"  style="margin-top: 8%; margin-bottom: 5%;">
      <label class="col-50">

        <input class="input_set" type="text" name="Price" placeholder="מחיר" class="input_set">

</label>

<label class="col-50">
        <input  class="input_set"  type="text" placeholder=" מ'ר"  class="input_set">



      </label>
     </div>




      <div  class="row">
        <label>
          <p>מעלית</p>
          <div class="col-33">
            <ion-checkbox name="Elevator" class="checkbox-dark" ng-model="isChecked.vlue1" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
        <label>
          <p>מיזוג</p>
          <div class="col-33">
            <ion-checkbox name="AirCon" class="checkbox-dark" ng-model="checkbox.aircon" ng-true-value="true"  ng-false-value="false" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
        <label>
          <p>ממ"ד</p>
          <div class="col-33">
            <ion-checkbox name="Mamad" class="checkbox-dark" ng-model="isChecked.value3" ng-readonly="true"></ion-checkbox>
          </div>
        </label>
      </div>



      <label class="row">
        <textarea  type="text" placeholder="כתוב תיאור קצר " class="col" class="input_set"></textarea>

      </label>

      <!--<button class="btns takePic  button button-calm" ><i class="ion-ios-camera" ></i></button>-->



    </form>



  </ion-content>

  <button full class="button button-calm button-search " ng-click="uploadAsset()">העלה</button>


</ion-view>
