/* Empty. Add your own CSS if you like */
ion-slides{
	background-image:url(../img/home_bg.jpg);
	background-repeat:no-repeat;

}





#chat_bg{
  background-image:url(../img/home_bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}


.custom-icon{
  font-size: 2em;
 color: #11c1f3;
}

.bar-light{
  z-index: 1;

}

.scroll{
  height:100%;
}
.swiper-pagination {
  display: none;
}
.swiper-container {
  overflow-x:hidden;
  /*overflow-y:scroll;*/
}
.scroll-content , .list{
  margin-top: 10%;
}

ion-content{
	direction:rtl;
}


#ar_profile article{
	width:100%;
	height:220px;
	background-color:rgba(255,255,255,0.9);
	margin-bottom:10px;
	padding:25px;
	color:#909090;
	text-align:right;
  border-radius: 4px;
}

ion-content #ar_profile article h1 {
	font-weight:bold;
	font-size:48px;
	display:block;
	width:900px;
}

#ar_profile article h2{

	font-size:40px;

}



ion-view{
	height:auto;
	min-height:500px;
	text-align:center;
}

.tabs{
  background: none;
  height:50px;
  background-color: #ffffff;
  border: none;

}



.bar-clear{
text-align: center;
 }










.button-calm{

	border-radius:45%;
	width:56px;
	height:56px;
	position:fixed;
	top:85%;
	left:74%;
	 box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);


}


.ion-plus-round, .ion-person-add, .ion-compose {
  font-size: 1.2em;
}

.ion-search {
  font-size: 1.5em;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  border-bottom: 2px solid #b3b3b3 !important;
}


.tabs-icon-top{
  top: 9% !important;
  border: none!important;
  box-shadow: 0 5px 4px -2px rgba(0,0,0,0.1);

}

.bar-header{
  border: none !important;
}


::-webkit-scrollbar {
  display: none;
}



.item-input {
  height: 40px;
  z-index: 999;
  direction: rtl;
  width: 100%;
  padding-right: 9%;
  border-radius: 4px;
}

.bar{
  overflow:hidden;
}












