/* Empty. Add your own CSS if you like */
ion-slides {
	background-image:url(../img/home_bg.jpg);
	background-repeat:no-repeat;
  background-size:cover;


}
.popup-head {
  color: #AAAAAA;
  font-weight: bold;
}
.popup-body {
  text-align: center;
}



#chat_bg, #filter_bg {
  background-image:url(../img/home_bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
}


.custom-icon{
  font-size: 2em;
 color: #11c1f3;
}

.bar-light{
  z-index: 1;

}

#search_ref{
  border: none;
  background: none;
}

.scroll{
  height:100%;
}
.swiper-pagination {
  display: none;
}
.swiper-container {
  overflow-x:hidden;
  /*overflow-y:scroll;*/
}
.scroll-content , .list ,.platform-ios{
  margin-top: 10%;
}

ion-content{
	direction:rtl;
}


#ar_profile article{
	width:100%;
	height:220px;
	background-color:rgba(255,255,255,0.9);
	margin-bottom:10px;
	padding:25px;
	color:#909090;
	text-align:right;
  border-radius: 4px;
  opacity: 0.9;
}

ion-content #ar_profile article h1 {
	font-weight:bold;
	font-size:48px;
	display:block;
	width:900px;
}

#ar_profile article h2{

	font-size:40px;

}



ion-view{
	height:auto;
	min-height:500px;
	text-align:center;
}

.tabs{
  background: none;
  height:50px;
  background-color: #ffffff;
  border: none;

}



.bar-clear{
text-align: center;
 }










.btns{

	border-radius:45%;
	width:56px;
	height:56px;
	position:fixed;
	top:85%;
	left:74%;
	 box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);


}


.contacts_apt_add{

  border-radius:45%;
  margin-top: 5%;
  right: 0%;
  width:47px;
  height:49px;
  position:fixed;
  color: #11c1f3 !important;


}

.contacts_apt{
  width: 100%;
  height: auto;
  padding-top: 2%;
  min-height: 48%;
  background-image:url(../img/home_bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}



.asset_img{
  width:100%;
  height: auto;
  min-height: 13%;
  background-color:#f7f7f7;
}


.img_spec{
  float: right;
  margin-top: 6%;
  margin-right: 5%;

}



.button-search {
  width: 85%;
  border-radius: 4px;
  left: 0%;
  top: 89%;
  margin-top: 2%;
}

.button-search-modal{
  width: 80%;
  border-radius: 4px;
  top:60%;
}






.ion-plus-round, .ion-person-add, .ion-compose {
  font-size: 1.2em;
}

.ion-ios-camera{
  font-size: 1.7em;
}

.item-checkbox{
  background: none;
  padding-left: 50px;
  text-align: center;

}

label p{
  margin-bottom: 0px;
}

ion-checkbox{
  background: none;
}

label textarea{
  height: 110px;
  box-shadow: 0 5px 2px -2px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top: 5%;


}




.ion-search {
  font-size: 1.5em;
}



.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  border-bottom: 2px solid #b3b3b3 !important;
}


.tabs-icon-top , .platform-ios{
  top: 9% !important;
  border: none!important;
  box-shadow: 0 5px 4px -2px rgba(0,0,0,0.1);

}

.bar-header{
  border: none !important;
}


::-webkit-scrollbar {
  display: none;
}

.item-input {
  height: 50px;
  z-index: 999;
  direction: rtl;
  width: 100%;
  border: none;
  padding-right: 2%;
}



input {
  border: none;
  border-bottom: #b2b2b2 thin solid;

  margin-bottom: 12px;
  border: #b3b3b3 solid thin;
  border-radius: 4px;
  height: 40px;
  width: 95%;
  padding-right: 5px;
  margin-right: 2%;

}

.input-login{
  margin-bottom: 5px;
}

.row{
  width: 90%;
  margin: 0px auto;
}

select{
border: none;
  border-radius: 4px;
  box-shadow: 0 5px 4px -2px rgba(0,0,0,0.1);
  height: 33px;
  width: 96%;
  padding-right: 5%;



}

::input-placeholder {
  color:#11c1f3;
}



.search_page{
  margin-right: 2%;
}

.bar{
  overflow:hidden;
}

ion-nav-back-button{
  z-index: 999;
}



ion-modal-view{
  background: transparent !important;




}




#modal_ng{
  border: none !important;
}


.button-block{
  background-color: #11c1f3; !important;
}

/* Added by Simon the king*/
.item-content.activated, .activated {
  background-color:rgba(255,255,255,0.9) !important;
}
.item{
border: none;
  padding-left: 30px;
  padding-right: 30px;
}

.takePic{
  top:70%;
  left: 43%;
position: fixed;
}



.asset_details {
width: 100%;
  height: auto;
  min-height:52%;

}

.asset_details p{
  margin-bottom: 0px;
  margin-bottom: 1px;
  font-size: 0.9em;
  text-align: right;
}


.modal-backdrop-bg {
  transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  background-color: #000;
  opacity: 0;
}

.active .modal-backdrop-bg {
  opacity: 0.5;
}

.task{
  padding: 2%;
  height: auto;
  min-height: 20px;
  background-color: #fff;
  margin-bottom: 1px;
  border-radius: 10px;
  opacity: 0.9;
}

.task p{
  width: 70%;
  text-align: right;
  float: right;
  margin-top: 4%;
  margin-right: 2%;
  color: #8f8f8f;
}

.task button{
  background: none;
  border: none;
  color: #8f8f8f;
  line-height: 65px;
  font-size: 1.5em;
  text-align: left;
}


.asset_client {
  margin-top: 15%;
  width: 100%;
  padding-right: 5%;
  height: auto;
  min-height: 40px;
  background-color: #fff;
  margin-bottom: 1px;

}

.contact_info{
  margin-top: 10%;
  width: 100%;
  padding-right: 5%;
  height: auto;
  min-height: 73px !important;
  background-color: #fff;
  margin-bottom: 1px;
  border-radius: 10px;
  opacity: 0.9;
}

.contact_info .client_name_page{

  width: 70%;
  text-align: right;
  line-height: 70px;


}


.row .contact_info{
  height: 55px;
}

.asset_client button ,.contact_info button{
  text-align: left;
  background: none;
  border: none;
  color: #8f8f8f;
  font-size: 1.7em;

}


.client_name {
  width: 75%;
  text-align: right;
  line-height: 40px;

}




.icon-accessory{
  text-align:left;
}

.ion-ios-settings-strong{
  font-size: 1.8em;
}

.result_item{
  border-radius: 4px;
}




#login_bg{
  background-image:url(../img/login_bg.png);
  background-repeat: no-repeat;
  background-size: cover;



}



